.counter {
    display: flex;
    flex-direction: row;
}
.counter .counter-item {
    text-align: center;
    border: 1px solid black;
    margin: 10px;
    border-radius: 5px;
}
.counter h4{
    margin: 10px 20px;
}
.counter sub{
    padding: 0 2px;
    border-top: 1px solid grey;
    display: block;
    font-size: 0.7em;
    font-weight: 100;
    color: red;
}
.counter .buttoms {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.counter .buttoms *{
    margin: 10px 5px; 
}
.counter button{
    display: block;
    margin: 10px auto;
    width: 80%;
}